figcaption {
    position: absolute;
    bottom: 5rem;
    margin: 0 2rem;
}

@import url('https://cdn.syncfusion.com/ej2/material.css');


.jumbotron {
    background-color: #FFFFFF ; /* Set your desired background color here */
    color:  #FFCCCB; /* Set your desired text color here */
  }
 
